@import url('reset.css');
@import url('global.css');

body {
    background-image: url('../images/background-movies-series.png');
    background-size: cover;
    height: 100vh;
}

.menu {
    position: relative;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    width: 100%;
    height: 70%;
    font-family: "Quicksand", cursive;
}

.login {
    width: 100%;
    max-width: 800px;
    background-color: var(--form-bg-color);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    border-radius: 8px;
}

.login__title {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 24px;
}

.login__text {
    text-align: left;
}

.login__field {
    background-color: var(--form-field-bg-color);
    border: var(--form-field-border);
    border-radius: 8px;
    padding: 16px;
    font-size: 1rem;
}

.login__field::placeholder {
    color: var(--form-field-placeholder);
}

.login__field:invalid {
    border-color: var(--form-field-error);
}

.login__actions {
    margin-top: 24px;
    text-align: left;
}

.login__link {
    color: var(--link-color);
    margin-left: 24px;
    font-weight: bold;
}